


<h2 style="text-align:center"> Welcome to Shopping World </h2>
<nav class="main-navbar">
        <div class="container">
          <!-- menu -->
          <Button (click)="LoadMaster();" >Home</Button>
          <ul class="main-menu">
            
            <li></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Jewelry
              <span class="new">New</span>
            </a></li>
            <li><a href="#">Shoes</a>
              <ul class="sub-menu">
                <li><a href="#">Sneakers</a></li>
                <li><a href="#">Sandals</a></li>
                <li><a href="#">Formal Shoes</a></li>
                <li><a href="#">Boots</a></li>
                <li><a href="#">Flip Flops</a></li>
              </ul>
            </li>
            <li><a href="#">Pages</a>
              <ul class="sub-menu">
                <li><a href="./product.html">Product Page</a></li>
                <li><a href="./category.html">Category Page</a></li>
                <li><a href="./cart.html">Cart Page</a></li>
                <li><a href="./checkout.html">Checkout Page</a></li>
                <li><a href="./contact.html">Contact Page</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>

     <li>  <a href="/ShopingProductMasterComponent">Add Product</a></li>
                    </ul>
        </div>
      </nav>
<router-outlet></router-outlet>
